@font-face {
    font-family: 'popins';
    src: url(asset/font/Poppins/Poppins-Light.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins';
}
.blue{
    color: #2340e0;
    margin-left: 5px;
}
nav{
    background: #fff;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}
nav .menu{
    display: flex;
    gap: 30px;
    align-items: center;
}
nav .menu>span{
    border-radius: 20px;
    padding: 5px 10px;
    transition: 0.5s;
}
nav .menu>span:hover{
    background: #2340e0;
    color: #fff;
}
nav .brand{
    /* background: yellowgreen; */
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
}
nav .brand>img{
    width: 80px;
    object-fit: cover;
}

/* ---------- JUMBOTRON ---------- */

#jumbotron{
    background: #fff;
}

#jumbotron header{
    display: flex;
    align-items: center;
    width: 100%;
}
header .side-1{
    width: 100%;
    height: 600px;
    color: #fff;
}
header .side-1>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
}
.side-1 .text-side-1{
    /* background: yellowgreen; */
    width: 500px;
    position: absolute;
    top: 200px;
    left: 150px;
}
.side-1 .text-side-1>h1{
    font-size: 5rem;
    line-height: 5rem;
}
.side-1 .text-side-1>h2{
    font-size: 3rem;
}
.side-1 .text-side-1>.underline{
    width: 50%;
    border-bottom: 4px solid #fff;
    margin: 30px 0;
}
.side-1 .text-side-1>p{
    margin-bottom: 40px;
}
header .side-2{
    width: 500px;
    height: 500px;
    /* background: yellow; */
    display: flex;
    align-items: center;
}
.side-2 .wrapper-side-2{
    width: 500px;
    height: 500px;
    border: 15px solid #fff;
    border-radius: 300px;
    position: relative;
    left: -200px;
}
.side-2 .wrapper-side-2>img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/* ---------- END JUMBOTRON ---------- */





/* ---------- GALERY ---------- */
.container-profil{
    background: #2340e0;
    height: 700px;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    color: #fff;
}
.container-profil .wrapper-profil{
    width: 70%;
}
.container-profil .wrapper-profil .quote{
    margin: 50px 0;
}
.container-profil .wrapper-profil .quote>q{
    font-size: 1rem;
}
.wrapper-profil .kontent-profil{
    /* background: #fff; */
    margin: 100px 0;
    display: flex;
    align-items: center;
}
.kontent-profil .kontent-text1{
    /* background: violet; */
    width: 50%;
}
.kontent-profil .kontent-text1>h2{
    font-size: 3rem;
}
.kontent-profil .kontent-text1>h3{
    font-size: 1rem;
}
.kontent-profil .kontent-text2{
    /* background: yellow; */
    width: 70%;
    border-left: 5px solid #fff;
    padding: 0 15px;
}
.wrapper-profil .identitas-profil{
    margin-top: 70px;
}
.wrapper-profil .identitas-profil>p{
    font-size: 1rem;
    margin-top: 5px;
}

.wrapper-garis{
    /* background: #000; */
    width: 100px;
    position: relative;
    left: 700px;
    top: -100px;
}
.wrapper-garis>img{
    width: 100%;
    object-fit: contain;
}

/* ---------- END GALERY ---------- */







/* ---------- ABOUT ---------- */

.container-about{
    display: flex;
    justify-content: center;
}
.container-about .wrapper-about{
    width: 80%;
}

.container-about .wrapper-about .tag-line{
    display: flex;
    font-size: 3rem;
    font-weight: bold;
}
.wrapper-about .tag-line>p{
    padding: 10px 0;
}
.wrapper-about .tag-line>.blue{
    color: #2340e0;
    margin-left: 10px;
}
.wrapper-about .header{
    /* background: #2340e0;
    border-radius: 5px;
    color: #fff; */
    margin: 40px 0;
    font-size: larger;
}
.wrapper-about .header>p{
    padding: 10px;
}
.container-about .wrapper-about .wrapper-isi{
    display: flex;
    gap: 5px;
    margin: 30px 0;
}

.wrapper-about .wrapper-isi .isi1{
    padding: 10px;
}
.wrapper-about .wrapper-isi .isi2{
    border-left: 3px solid #2340e0;
    padding: 10px 20px;
}
.wrapper-about .wrapper-isi a{
    background: #2340e0;
    color: #fff;
    text-decoration: none;

}
.wrapper-about .wrapper-isi .see-more{
    background: #2340e0;
    margin: 20px 0;
    padding: 5px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}
.wrapper-about .wrapper-isi p>img{
    width: 15px;

}
/* ---------- END ABOUT ---------- */










/* ---------- TEAM ---------- */
#team{
    margin: 50px 0;
    padding: 30px 0;
}
.slide-container{
    /* background: yellow; */
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
  }
  .slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
  }
  .card{
    border-radius: 25px;
    background-color: #FFF;
  }
  .image-content,
  .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
  }
  .image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
  }
  .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #4070F4;
    border-radius: 25px 25px 0 25px;
  }
  .overlay::before,
  .overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #4070F4;
  }
  .overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #FFF;
  }
  .card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
  }
  .card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070F4;
  }
  .name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
  }
  .description{
    font-size: 14px;
    color: #707070;
    text-align: center;
  }
  .button{
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #4070F4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button:hover{
    background: #265DF2;
  }
  
  .swiper-navBtn{
    color: #6E93f7;
    transition: color 0.3s ease;
  }
  .swiper-navBtn:hover{
    color: #4070F4;
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 35px;
  }
  .swiper-button-next{
    right: 0;
  }
  .swiper-button-prev{
    left: 0;
  }
  .swiper-pagination-bullet{
    background-color: #6E93f7;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    background-color: #4070F4;
  }
  
  @media screen and (max-width: 768px) {
    .slide-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
      display: none;
    }
  }

/* ---------- END TEAM ---------- */












/* ---------- WHY US ---------- */

.container-why-us{
    /* background: yellow; */
    margin: 100px 0;
    display: flex;
    justify-content: center;
}
.container-why-us .wrapper-why-us{
    width: 80%;
}
.wrapper-why-us .why-us-header{
    /* background: #333; */
    padding: 50px 0;
}
.wrapper-why-us .header-img{
    /* width: 300px; */
    height: 500px;
    background: #2340e0;
    border-bottom-right-radius: 300px;
}
.wrapper-why-us .header-img>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-right-radius: 300px;
    /* padding-right: 2px; */
}


.header-text{
    margin-top: 50px;
    font-size: 3rem;
    font-weight: bold;
}
.wrapper-text-why-us {
    /* background: yellow; */
    padding: 10px 0;
}
.wrapper-text-why-us .nomor{
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 20px 0;
}
.wrapper-text-why-us .nomor>h1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #2340e0;
    width: 100px;
    height: 55px;
    border-radius: 50%;
    color: #fff;
}


/* ---------- END WHY US ---------- */











/* ---------- SERVICES ---------- */

.container-services{
    /* background: yellow; */
    display: flex;
    justify-content: center;
}

.container-services .wrapper-services{
    /* background: violet; */
    width: 80%;
}
.wrapper-services .header-services{
    padding: 30px 0;
}
.wrapper-services .header-services>h1{
    font-size: 3rem;
    font-weight: bold;
    padding-left: 10px;
    margin-bottom: 30px;
    border-left: 4px solid #2340e0;
}
.wrapper-services .coloumn-services{
    display: flex;
    gap: 20px;
    text-align: justify;
}
.left{
    padding-left: 20px;
    border-left: 4px solid #2340e0;
}


/* ---------- END SERVICES ---------- */










/* ---------- FOOTER ---------- */

.container-footer{
    background: #265DF2;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    color: #fff;
}
.container-footer .wrapper-footer{
    /* background: violet; */
    width: 80%;
}
/* .wrapper-footer .coloumn-footer{
    display: flex;
} */

.coloumn-footer .col{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
.coloumn-footer .col .row .img-footer{
    width: 200px;
    margin-top: 50px;
}
/* .coloumn-footer .col .row {
    background: wheat;
    width: 25%;
} */
.coloumn-footer .col .row .img-footer>img{
    width: 100%;
    object-fit: cover;
}
.coloumn-footer .col .row>ul{
    list-style: none;
}
.coloumn-footer .col .row ul>li:nth-child(1){
    padding: 15px 0;
    padding-left: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 2px solid #fff;
    margin-bottom: 30px;
}

.coloumn-footer .col .row ul>li{
    padding: 3px;
}
.col .row ul li>img{
    width: 20px;
    margin-right: 10px;
    margin-top: 10px;
}
.col .row ul .sosmed{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.col .row ul .sosmed>img{
    width: 25px;
}




/* ---------- END FOOTER ---------- */